---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION, HOMEPAGE_URL } from '../config'
import Body from '../components/Body.astro'
import Content from '../components/Content.astro'
import Masthead from '../components/Masthead.astro'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Header title={SITE_TITLE} />
    <main class="pt-[56px]">
      <Masthead />
      <h1 class="font-mplus text-center">My Blog</h1>
      <Content>
        <section>
          <p class="mb-8 indent-4">
            This is the place where I talk (and sometime rant) about random
            things tech/non-tech related, you can <a
              class="text-orange-500"
              href={HOMEPAGE_URL}>learn more about me here.</a
            >
          </p>
        </section>
      </Content>
    </main>
    <Footer />
  </Body>
</html>
