---
import { HOMEPAGE_URL } from '../config'

const today = new Date()
---

<footer class="text-zinc-500 p-4">
  &copy; {today.getFullYear()}
  <a href={HOMEPAGE_URL}>Chanakan Mungtin</a>. All rights reserved.
</footer>
<style>
  footer {
    padding: 25px;
    text-align: center;
  }
</style>
